<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riskayunita.akademikunsri">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherr"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".List_dtPribadi"
            android:label="Data Pribadi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KRS"
            android:label="KRS">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
        <activity android:name=".Transkrip" />
        <activity android:name=".KHS"
            android:label="KHS">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
        <activity android:name=".login"/>
        <activity android:name=".home"
            android:label="Sistem Informasi Akademik"/>
        <activity android:name=".bantuan"
            android:label="Bantuan"/>
        <activity android:name=".kkn" />
        <activity android:name=".suliet"
            android:label="Suliet">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>